<suite name="Automation" verbose="1">
 
<test name="Test ALL Possible Logins">
		<classes>
		
			<class name="com.dw.api.automation.TestScripts.LoginTest" />
			<methods>
				<include name="loginAsPM"/>
				<include name="loginAsBAM" />
				<include name="loginAsCA"/>
					</methods>
		</classes>
</test>


<test name="AddcNew Partner Org Test">
		<classes>
		
			<class name="com.dw.api.automation.TestScripts.AddNewPartnerOrgTest" />
			<methods>
				<include name="loginAsPm"/>
				<include name="verifyMpnId" />
				<include name="addNewPartnerOrganisation"/>
				<include name="approveNewOrgByBAM"/>
				<include name="approveNewOrgByCA"/>
					</methods>
		</classes>
</test>

 
 <test name="Customer On Boarding ">
		<classes>
			<class name="com.dw.api.automation.TestScripts.CustomerOnBoardingTest" />
			<methods>
				<include name="loginAsPm"/>
				<include name="verifyMpnId" />
				<include name="addNewPartnerOrganisation"/>
				<include name="approveNewOrgByBAM"/>
				<include name="approveNewOrgByCA"/>
				<include name="createNewCustomer"/>
				<include name="getCustomerId" />
				<include name="approveNewCustomerFromBam"/>
			</methods>
		</classes>
</test>

 <test name="Market Place And Contract Management">
		<classes>
			<class name="com.dw.api.automation.TestScripts.MarketPlaceAndContractManagementTest" />
			<methods>
				<include name="loginAsPm"/>
				<include name="addBaseProductWithTwoLicenses" />
				<include name="addAddOnProductWithOneLicenses"/>
				<include name="placeOrder"/>
				
			</methods>
		</classes>
</test>

 <test name="Order Provision">
		<classes>
			<class name="com.dw.api.automation.TestScripts.OrderProvisonTest" />
			<methods>
				<include name="loginAsPm"/>
				<include name=" " />
						
			</methods>
		</classes>
</test>


 

</suite> 
